nav{
   margin-bottom: 5%;
}

card{
    margin: 20px;
    
}


#nav-item{
    float: right;
}

.navbarNav{
    float: right
}

#cardbody

.wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }


@media screen and (max-width: 168px) {
    body {
      background-color: #333;
    }